{{ define "main" }}
<main>
  {{ $day := .Date.Day }}
  {{ $suffix := "th" }}
  {{ if or (eq $day 11) (eq $day 12) (eq $day 13) }}
    {{ $suffix = "th" }}
  {{ else if (eq (mod $day 10) 1) }}
    {{ $suffix = "st" }}
  {{ else if (eq (mod $day 10) 2) }}
    {{ $suffix = "nd" }}
  {{ else if (eq (mod $day 10) 3) }}
    {{ $suffix = "rd" }}
  {{ end }}

  {{ $formattedDate := printf "%s, %s %d%s, %d" (.Date.Local.Format "Monday") (.Date.Local.Format "January") $day $suffix .Date.Year }}

  <h1 style="margin-bottom: 5px;">{{ lower .Title }}</h1>
  <p style="font-size: 12px; color: gray; margin-top: 0;">{{ lower $formattedDate }}</p>
  <article>
    {{ .Content }}
  </article>

  {{- $masonry_columns_count := 3 }}

  {{ $photos := slice }}
  {{ $pages := slice }}
  {{ $pages := $photos | append .Page }}

  {{- $list := where $pages ".Params.photos" "!=" nil -}}

  {{ range $index, $value := $list }}
  {{- $post_url := .Permalink -}}
  {{- $post_photos := .Params.photos -}}
  {{ range $post_photo := $post_photos }}
  {{- $photo_with_post_url := merge $post_photo (dict "post_url" $post_url) -}}
  {{- $photos = $photos | append $photo_with_post_url -}}
  {{ end }}
  {{ end }}

  {{ partial "masonry.html" (dict "columns" 2 "photos" $photos "class" "photos-grid--visible-desktop") }}
  {{ partial "masonry.html" (dict "columns" 1 "photos" $photos "class" "photos-grid--visible-mobile") }}
</main>
{{ end }}