{{ define "main" }}
<main>
  <h1>{{ .Title }}</h1>
  <article>
    {{ .Content }}
  </article>

  {{- $masonry_columns_count := 3 }}

  {{ $photos := slice }}
  {{ $pages := slice }}
  {{ $pages := $photos | append .Page }}

  {{- $list := where $pages ".Params.photos" "!=" nil -}}

  {{ range $index, $value := $list }}
  {{- $post_url := .Permalink -}}
  {{- $post_photos := .Params.photos -}}
  {{ range $post_photo := $post_photos }}
  {{- $photo_with_post_url := merge $post_photo (dict "post_url" $post_url) -}}
  {{- $photos = $photos | append $photo_with_post_url -}}
  {{ end }}
  {{ end }}

  {{ partial "masonry.html" (dict "columns" 3 "photos" $photos "class" "photos-grid--visible-desktop") }}
  {{ partial "masonry.html" (dict "columns" 2 "photos" $photos "class" "photos-grid--visible-mobile") }}
</main>
{{ end }}